<nav class="branco">
  <div class="nav-wrapper">
    <a href="#" class="brand-logo"><img class="sdt_brand-logo__img" src="assets/images/logo.png" alt="Sciammarella Dolci & Torti"></a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger vermelho-texto"><i class="material-icons">menu</i></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li class="centralizar-texto-vertical"><a class="vermelho-texto uppercase bold" href="#">Sobre</a></li>
      <li class="centralizar-texto-vertical"><a class="vermelho-texto uppercase bold" href="#">Serviços</a></li>
      <li class="centralizar-texto-vertical"><a class="vermelho-texto uppercase bold" href="#">Menu</a></li>
      <li class="centralizar-texto-vertical"><a class="vermelho-texto uppercase bold" href="#">A Sciammarella</a></li>
      <li class="centralizar-texto-vertical"><a class="vermelho-texto uppercase bold" href="#">Faça seu pedido</a></li>
    </ul>
  </div>
</nav>

<ul class="sidenav" id="mobile-demo">
  <li><img src="assets/icons/icon-128x128.png"></li>
  <li><a class="uppercase" href="#">Sobre</a></li>
  <li><a class="uppercase" href="#">Serviços</a></li>
  <li><a class="uppercase" href="#">Menu</a></li>
  <li><a class="uppercase" href="#">A Sciammarella</a></li>
  <li><a class="uppercase" href="#">Faça seu pedido</a></li>
</ul>