<div class="servicos verde branco-texto">
  <div class="container">
    <h2 class="center-align uppercase">Serviços</h2>
    <div class="servicos__content row">
      <div class="servicos__aside-um col l4 s12 right-align">
        <ul>
          <li class="col l12 m4">
            <h4 class="servicos__titulo">Cupcake</h4>
            <span class="servicos__descricao">Descrição do serviço feito</span>
          </li>
          <li class="col l12 m4">
            <h4 class="servicos__titulo">Cupcake</h4>
            <span class="servicos__descricao">Descrição do serviço feito</span>
          </li>
          <li class="col l12 m4">
            <h4 class="servicos__titulo">Cupcake</h4>
            <span class="servicos__descricao">Descrição do serviço feito</span>
          </li>
        </ul>
      </div>
      <div class="servicos__imagem col l4 hide-on-med-and-down">
        <img class="responsive-img" src="assets/images/chocolate-candies.jpg" alt="Bolo de chocolate">
      </div>
      <div class="servicos__aside-dois col l4 s12">
        <ul>
          <li class="col l12 m4">
            <h4 class="servicos__titulo">Cupcake</h4>
            <span class="servicos__descricao">Descrição do serviço feito</span>
          </li>
          <li class="col l12 m4">
            <h4 class="servicos__titulo">Cupcake</h4>
            <span class="servicos__descricao">Descrição do serviço feito</span>
          </li>
          <li class="col l12 m4">
            <h4 class="servicos__titulo">Cupcake</h4>
            <span class="servicos__descricao">Descrição do serviço feito</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
