<div class="menu">
  <div class="container row">
    <div class="col s12">
      <ul id="tabs-swipe-demo" class="tabs">
        <li class="tab col s3"><a class="active" href="#palhaItaliana">Palha Italiana</a></li>
        <li class="tab col s3"><a href="#bolos">Bolos</a></li>
        <li class="tab col s3"><a href="#bolosDecorados">Bolos Decorados</a></li>
        <li class="tab col s3"><a href="#doces">Doces</a></li>
      </ul>
    </div>
    <div id="palhaItaliana" class="col s12 tab-index">
      <div class="col m6 l6">
        <img src="assets/images/palha-italiana.jpg" alt="Palha italiana" class="responsive-img hide-on-small-only">
      </div>
      <div class="col s12 m6 l6">
        <div class="menu-item">
          <h4 class="uppercase">Palha italiana</h4>
          <div class="col l4 m4 s4">
            <p>R$2,50 cada*</p>
          </div>
          <div class="col l4 m4 s4">
            <p>R$2,80 cada**</p>
          </div>
          <div class="col l4 m4 s4">
            <p>R$3,00 cada***</p>
          </div>
        </div>
        <p>Sabores: Tradicional, branca e doce de leite</p>
        <p>
          Pedido mínimo: *100 un., **60 un., ***40 un.
        </p>
      </div>
    </div>
    <div id="bolos" class="col s12 tab-index">
      <div class="col m6 l6">
        <img src="assets/images/bolo.jpg" alt="Bolo" class="responsive-img hide-on-small-only">
      </div>
      <div class="col s12 m6 l6">
        <div class="menu-item">
          <h4 class="uppercase">Bolos</h4>
          <div class="col l4 m4 s12">
            <p>R$70,00</p>
          </div>
        </div>
      </div>
    </div>
    <div id="bolosDecorados" class="col s12">
      <div class="col m6 l6">
        <img src="assets/images/bolo-decorado.jpg" alt="Bolo decorado" class="responsive-img hide-on-small-only">
      </div>
      <div class="col s12 m6 l6">
        <div class="menu-item">
          <h4 class="uppercase">Bolos Decorados</h4>
          <div class="col l4 m4 s12">
            <p>R$70,00</p>
          </div>
        </div>
      </div>
    </div>
    <div id="doces" class="col s12">
      <div class="col m6 l6">
        <img src="assets/images/doces.jpg" alt="Palha italiana" class="responsive-img hide-on-small-only">
      </div>
      <div class="col s12 m6 l6">
        <div class="menu-item">
          <h4 class="uppercase">Doces</h4>
          <div class="col l4 m4 s4">
            <p>R$2,50 cada*</p>
          </div>
          <div class="col l4 m4 s4">
            <p>R$2,80 cada**</p>
          </div>
          <div class="col l4 m4 s4">
            <p>R$3,00 cada***</p>
          </div>
        </div>
        <p>Sabores: Brigadeiro, beijinho, cajuzinho</p>
        <p>
          Pedido mínimo: *100 un., **60 un., ***40 un.
        </p>
      </div>
    </div>
  </div>
</div>
